[2014-08-26 05:39] nhomar opened #1 "[TODO] Migrate oemedical base app to version 8.0"
Migrate the module and ensure all views open correctly.
This is the simple scope of this point.

[2014-10-18 00:44] bmuangkhot commented on #1
Hi Nhomar,

Do you think the porting to ODOO V8 is close soon?

Thanks..

Brice

[2014-11-02 00:05] cmoffatt commented on #1
Any status on this?  I am VERY interested in using Medical on Odoo 8.0.

[2014-11-03 02:35] bmuangkhot commented on #1
+1

I am interested too for a emerging country..

Thanks.
Brice

2014-11-02 7:05 GMT+07:00 cmoffatt notifications@github.com:

##

Brice MUANGKHOT

_iTLiGENT_
Le Magellan
7, rue Montespan
91024 EVRY ( FRANCE)
e-mail: bmk@itligent.fr
web: http://www.itligent.fr
Mobile: +33 6 51 59 80 54

[2014-12-01 15:08] jvkassi commented on #1
+1
I am very interested too.
This would be very helpful ! Thanks

[2014-12-04 17:06] laurenthdl commented on #1
Hi, any hint on this ?
Is help needed to support the 8.0 odoo version ?
Or should this module be considered deprecated ? It would be a shame since it is referenced on the odoo platform.

[2015-01-15 05:46] casisa opened #4 "error when I tried to install the Gynecology module"
any hint how to solve this?

ValueError: No such external ID currently defined in the system: oemedical_gynecology_and_obstetrics.act_open_oemedical_patient_view

[2015-01-15 09:33] yvaucher commented on #4
@casisa `oemedical_gynecology_and_obstetrics.act_open_oemedical_patient_view` is not found in XML files of installed module.

It can be a missing dependency, a typo in view name or `act_open_oemedical_patient_view` is in another module.

Please also specify the version of Odoo you are using.

[2015-01-15 09:39] yvaucher commented on #4
It seems the error comes from:

https://github.com/OCA/vertical-medical/blob/7.0/oemedical_gynecology_and_obstetrics/views/oemedical_menu.xml

Adding `oemedical.` before all ids should solve it. Thought it seems strange to have duplicated menu items of those from https://github.com/OCA/vertical-medical/blob/7.0/oemedical/views/oemedical_menu.xml

[2015-01-15 15:08] casisa commented on #4
i tried to install the module using OpenERP 7 or Odoo 8, but on both I had errors. I installed oemedical module first, and it works fine. I downloaded oemedical modules from the github repository and from the odoo repository, but I got errors with both. So does it happen that these are not the right files?

[2015-01-23 21:40] yvaucher commented on #4
@casisa I'm not the maintainer of this project. I had a look at `oemedical_gynecology_and_obstetrics` and menu definition are not usable at all and needs an huge cleaning. So it is not installable neither on 7.0 and 8.0.

[2015-01-23 21:40] yvaucher commented on #4
@nhomar anything you planned to do for it here?
BTW I offered you a little pep8 cleaning here: #6

[2015-01-23 21:44] yvaucher commented on #1
I started a PEP8 cleaning here: #6
Maybe this helps

Perhaps you will want to depreciate them in 7.0 and port them to 8.0

[2015-02-07 01:28] kkoci opened #7 "OpenERP doesn't find oemedical modules"
Hi

I'm trying to install all this suite of modules.

But neither Odoo v8 or Odoo v7 can find ALL of these modules when declared as addons.

The only one I can see and install is main oemedical, am I missing something?

Thanks in advance.

[2015-02-13 16:46] yvaucher commented on #7
@kkoci I'm not sure in what version where these module developed, maybe in 6.1.
What I can tell is that they haven't been ported to 8.0. And only main module was ported to 7.0.

In 7.0 almost all of them have `installable` set to `False` in their `__openerp__.py` manifest.

If you want to try to install them, you will need first to set this value to True.

I just warn you that they will probably n

[2015-03-31 08:32] lepistone opened #9 "http://medical.odoo.com is an empty page"

[2015-03-31 11:24] yvaucher commented on #9
@lepistone where is this?

[2015-03-31 14:03] lepistone commented on #9
@yvaucher in the description of the repository

[2015-03-31 14:13] yvaucher commented on #9
Ok let's conjure an OCA wizard with enough power to fix this.

@nhomar @gurneyalex @StefanRijnhart @max3903 @jgrandguillaume @sebastienbeau

One of you can fix :sparkles: this ?

[2015-03-31 19:15] StefanRijnhart commented on #9
Sure. Which URL do you want instead?

[2015-04-01 09:16] yvaucher commented on #9
@StefanRijnhart I think we can simply remove it. If we want an url we can put it later in README

[2015-04-01 09:58] StefanRijnhart commented on #9
OK, done.

[2015-04-01 10:08] yvaucher commented on #9
@StefanRijnhart Thanks

[2015-04-01 10:08] #9 closed, assigned to nobody

[2015-06-02 14:11] nhomar opened #16 "[ERROR] patient active=False by default."
Hello.

A patient by default is being created in the group Employee and Active=False then no matter how you create the patient it is not visible by default.

[2015-06-02 14:12] nhomar opened #17 "[design] Patient should be res.partner not user."

[2015-06-07 09:09] TheCloneMaster commented on #17
Closed with https://github.com/OCA/vertical-medical/pull/19

[2015-06-07 09:10] TheCloneMaster commented on #16
Closed in https://github.com/OCA/vertical-medical/pull/19

[2015-06-07 09:11] TheCloneMaster commented on #7
EMR and invoicing will be available for v8 in the following days...

[2015-06-07 09:15] TheCloneMaster commented on #4
Hi,

We will be doing some clean up and enabling a couple more modules in the following days, including EMR and invocing from appointment...

[2015-06-07 14:28] kkoci commented on #7
Ok, thank you very much.

@yvaucher I found another repo which works prefectly.

I'll post it as soon as I find it again, lol

Awesome @TheCloneMaster

[2015-06-09 12:50] yvaucher commented on #7
@kkoci you might talk about vauxoo. I think they merged few things already in 8.0

[2015-07-03 15:40] fnegrini commented on #1
Interest in contribute. My first contribution will be create an icon for the main module "medical".
Pull request soon.
Icon suggestion for module attached.
![first aid kit-256x256](https://cloud.githubusercontent.com/assets/4683234/8502016/a1449122-2181-11e5-9c1c-b9ada03016a7.png)
![hospital-icon](https://cloud.githubusercontent.com/assets/4683234/8502017/a146e440-2181-11e5-901b-3c322f0c5722.png)

[2015-07-03 20:31] fnegrini opened #21 "[TODO] Module medical became Application"
Activate de Application property in medical module with its own icon.

[2015-07-06 19:30] fnegrini commented on #21
The icon for the App should be in [medical]\static\description
I have a pull request ready to upload but I don't have permission.
Could anyone allow me to do so?

[2015-08-06 07:07] jacksolutions commented on #4
any update on the more modules of v8?

[2015-08-06 07:40] lmignon commented on #4
@TheCloneMaster PLZ take a look at #22 to avoid overlaps in what they are doing and what you do. This PR fix a lot of issues, clean up the code to follow the coding guidelines, etc...

[2015-08-06 12:33] nuria-opusvl opened #25 "DoB calendar bug"
64 bit Debian Wheezy 7.8
Odoo 8.0.20150515
in lxc container
using Firefox 39.0

Hi,

I installed the medical base module for testing and noticed a small bug on the DoB calendar when creating a new patient.

When you click on the year drop down, you only have a selection of years from 2005, and it shows lots of future years.

I clicked on the earliest it allowed me (2005) and saved it.

Then I edit

[2015-08-17 12:48] yvaucher commented on #21
@fnegrini Anyone can make a Pull request just fork the repo, and push to you fork then from your uploaded branch create the pull request on the trunk

[2015-08-17 13:53] fnegrini commented on #21
@yvaucher I think I did it wong. I'll try to do according to these steps. The pull request will be done by tomorow.
Thanks!

[2015-08-17 14:22] fnegrini commented on #21
Pull request #28 created for this issue.

Thanks!

[2015-08-17 17:39] fnegrini commented on #21
Followed the steps. Please check pull request #29.

[2015-08-17 17:47] fnegrini commented on #21
Pull #30. Now I also removed the old folder.

[2015-08-21 18:54] fnegrini commented on #21
Closing issue!

[2015-08-21 18:54] #21 closed, assigned to nobody

[2015-09-04 12:37] ekitsikpui5 opened #35 "Can't find medical module in addons in Odoo"
I have an issue seeing medical module in Odoo, I have done all what is required and checked this error in other databases as well as platforms.

[2015-09-05 16:48] mwithi opened #36 "Error installing oemedical_emr_data"
After installing:
- oemedical
- oemedical_emr

I get this error installing oemedical_emr_data module:

[code]

[2015-09-11 15:59] ghost commented on #35
When you add the medical Oemedical module in the addons folder on your server you must create a new database

[2015-09-11 16:00] ghost opened #37 "Istallation Error with Oemedical v7 on odoo v7"
Hello
last time i had try to install Oemedical oca/vertical-medical on Odoo v7 and i got this Error: ValidateError Error occurred while validating the field(s) arch: Invalid XML for View Architecture!

Someone can help pls???????????

[2015-09-25 16:14] lasley commented on #35
What version of Odoo and what Git branch? Have you updated the modules list through the admin panel?

[2015-09-25 16:18] lasley commented on #7
8.0-Incubator is where most of the 8.0 stuff is at the moment, it's in heavy development and I would not use on a production system.

[2015-09-25 16:22] lasley commented on #1
Thanks for the icons @fnegrini

This has been completed aside from the icons. I would say they look better than the ones we have currently, anyone have any additional comments there?

[2015-09-26 05:39] lmignon commented on #1
@fnegrini Nice Icons, thank you for the contrib...

[2015-10-03 06:33] lasley opened #42 "medical_medication Discussion"
Not really sure of a better way to start this discussion, so please let me know if there is one. Wiki seemed a bit hard to manage in terms of understanding opinions. This is a blocker in our current project, so I'll be tackling it next.

I noticed @JonathanNEMRY's change notes in the wiki for the EMR module, and I fully agree about the modularity. Maybe we should start by breaking the two function

[2015-10-03 06:33] lasley commented on #42
My thoughts

##### Medication And Medication Template

Definitely agree that the start and end should not be in the medication & templates. Shouldn't we maybe just pull that out altogether and let the `medication.order` dictate that (below)?

In order to cover over-the-counter items, I propose that we create `medication.order` - then inherit `prescription.order` from that to cover all the doctor r

[2015-10-05 08:46] lasley commented on #1
Looking to integrate these, and I'm thinking that the original core icon https://github.com/OCA/vertical-medical/blob/8.0/medical/static/description/icon.png represents medical as a whole more than the cross emblem.

I think we should instead use these for the medical_operational module or one of the upcoming splits of the medical_emr module.

[2015-10-05 08:50] lasley commented on #36
Hi @mwithi - What Odoo version are you using, and what branch of this repo?

[2015-10-05 08:54] lasley commented on #25
Hi @nuria-opusvl - I believe we have fixed this in branch `8.0-incubator`. Please give it a shot on your side and let us know - Thanks!

[2015-10-05 09:00] nuria-opusvl commented on #25
Thanks for the heads up!

:-)

On 05/10/15 09:54, Dave Lasley wrote:

##

N. Arranz-Velazquez
OpusVL Odoo Specialist Team (OOST)
Product Owner

OpusVL
Drury House
Drury Lane
Rugby
CV21 3DE

T: 01788 298 450
W: www.opusvl.com

[2015-10-12 06:59] JonathanNEMRY commented on #42
Hi @lasley ! I have pushed some Pull Request about Disease/Medicament/Medication/Prescription Order. Don't hesitate to review/comment them. I had no other choice but to make them interrelated because of the module dependencies. I'have also updated the wiki graph.

Jonathan

[2015-10-12 18:49] lasley commented on #42
Hi @JonathanNEMRY

Awesome, thanks for the update! I'll take a look now.

Agreed that there was not a way to create an interdependency between the modules. We're going to run into a bit of that with the EMR stuff, I'm sure that's why it was all originally just dropped into one module.

[2015-10-14 00:56] pedrobaeza opened #50 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] medical - @lasley https://github.com/OCA/vertical-medical/pull/69
- [ ] medical_family
- [ ] medical_insurance - #102
- [ ] medical_insurance_us - @lasley
- [x] medical_medicament - #74
- [ ] medical_medicament_attributes - @lasley
- [x] medical_medication - #75
- [ ] medical_medication_us - #7

[2015-10-17 08:23] lasley commented on #50
Hi All - How are we going to handle this? I vote this gets put on the afterburner until we move 8.0 incubator into 8.0.

[2015-10-19 14:12] nuria-opusvl opened #51 "References to oemedical on branch 8.0"
Hi,

Dependencies on **openerp**.py files seem to point out to oemedical instead of medical, which causes install to fail.

I think this has been fixed on branch 9.0 but not on 8.0

Ta,
Nuria

[2015-10-19 14:14] nuria-opusvl opened #52 "'Installable', False"
Hi again,

I've also found that most ported modules on branch 8.0 have the installable parameter set to false in the **openerp**.py.

Thanks,
Nuria

[2015-10-19 14:18] yvaucher commented on #52
Hello @nuria-opusvl

Modules which are set as uninstallable are modules of previous version which needs adaptation to work properly in 8.0. For current status on 8.0 you can follow the work in progress in the branch `8.0-incubator`

https://github.com/OCA/vertical-medical/tree/8.0-incubator

Cheers,

[2015-10-19 14:28] nuria-opusvl commented on #52
Thanks Yannick,

but I must be missing something because I thought of cloning the
incubator branch and found only one of the modules available,
oemedical_his. The rest are not in the ported list.

Ta,
Nuria

On 19/10/15 15:18, Yannick Vaucher wrote:

##

N. Arranz-Velazquez
OpusVL Odoo Specialist Team (OOST)
Product Owner

OpusVL
Drury House
Drury Lane
Rugby
CV21 3DE

T: 01788 298 450
W: www.opusv

[2015-10-19 14:30] yvaucher commented on #52
@nuria-opusvl The rest is in Pull requests targeting branch `8.0-incubator` in review or dev process

https://github.com/OCA/vertical-medical/pulls

[2015-10-19 14:32] nuria-opusvl commented on #52
Ok, thank you.

[2015-10-19 14:32] #52 closed, assigned to nobody

[2015-10-19 17:01] lasley commented on #51
Hi @nuria-opusvl

Currently the only module available in 8.0 branch is the core `medical`. All other modules are under heavy development in 8.0-incubator branch & associated pull requests - https://github.com/OCA/vertical-medical/tree/8.0-incubator & https://github.com/OCA/vertical-medical/pulls

[2015-10-19 17:32] lasley commented on #42
I believe we're covered this conversation, closing

[2015-10-19 17:32] #42 closed, assigned to nobody

[2015-10-20 08:18] nuria-opusvl commented on #51
Thanks Dave.

[2015-10-20 08:18] #51 closed, assigned to nobody

[2015-10-27 16:42] yvaucher commented on #37
@sandaly Developpement focus is on 8.0 version. 7.0 was not ported and has many conflicts in views.

You can see the progress here on github in the issues and Pull requests

https://github.com/OCA/vertical-medical/pulls

The most advanced base branch is https://github.com/OCA/vertical-medical/tree/8.0-incubator
and pull requests are targeting it.

[2015-11-17 23:46] mmendozadelsolar opened #55 "Appointment - Change state"
in runbot:  8.0-incubator

When you treu to change the appointment state, you get this error:

Traceback (most recent call last):
  File "/srv/openerp/instances/openerp-oca-runbot/parts/odoo-extra/runbot/static/build/3117067-8-0-incubator-0edf75/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/srv/openerp/instances/openerp-o

[2015-11-17 23:48] mmendozadelsolar opened #56 "Appointment in the same time"
in runbot: 8.0-incubator

It don't have a timetable of physician to do the appointment. You can make an appointment with the same physician at the same time:

![appointment odoo](https://cloud.githubusercontent.com/assets/7729857/11228606/ccee4f98-8d5b-11e5-8455-4bdb4d7c397b.png)

[2015-11-18 21:21] lasley commented on #55
Hi @mmendozadelsolar

Thanks for the issue report! 8.0-incubator has gone some major overhauls, and currently has a good amount of pull request open.

That said, I'm seeing a different error on my local dev version using the current dev head.

I'll take a look next time I'm in this module. Should be soon.

[code]

[2015-11-18 21:31] lasley commented on #55
Ahh so my error was due to me not putting a date into the record (should probably be a required field, will handle that).

Regarding your error, I cannot replicate this on the 8.0-iuncubator RunBot, so maybe it's a data issue. Can you please elaborate on the data being added into the Appointment?

[2015-11-18 21:38] lasley commented on #56
Thanks for the report! Issue confirmed to also be present in current dev head, no appointment time validation currently exists.

This should likely be added to the confirm method, so that draft entries don't create conflicts. This isn't a side of vertical-medical that I've needed, so I'm not really sure how this should operate in a real workflow.

[2015-11-19 01:50] mmendozadelsolar commented on #56
I think it can work this way:

1.-Select patient
2.-Select physician
3.-Odoo charge the list of the avaible appointmnet for the physician.

This way the appoitment wont mix. We can add a constraint in the "Appointment ID".

Under this prespective, we will need a button in the physician form to generate the appointments. To do this, maybe we can use the list view of the calendar app and the option

[2015-11-19 02:04] mmendozadelsolar commented on #55
Hi @lasley, try in the list view, and then change the state like the img:

![appointment odoo](https://cloud.githubusercontent.com/assets/7729857/11260314/f1f2947a-8e37-11e5-9dae-d28aad3e7892.png)

[2015-11-20 19:21] lasley commented on #55
Hi @mmendozadelsolar

Interesting, I can't replicate that error on my local install.

The error seems like it might be Runbot related. I'm not exactly sure how to login to OCA Runbot other than the clicking in the repo (which is not the right branch), so I'm somewhat at a loss on that side of things to be honest :confounded:

![screen shot 2015-11-20 at 11 18 51 am](https://cloud.githubusercontent

[2015-11-20 19:24] lasley commented on #56
Now that we're talking wizard and logic, this is likely another candidate for something that should be a module instead of being included in the main library. @JonathanNEMRY or @lmignon - thoughts?

[2015-11-20 19:27] mmendozadelsolar commented on #55
Hi @lasley, here is the link:

https://runbot.odoo-community.org/runbot/repo/github-com-oca-vertical-medical-159

[2015-11-20 19:29] lasley commented on #55
Thanks @mmendozadelsolar - I got there, and now I just realized I should probably try admin/admin login! Error replicated- I'll dig deeper sometime tonight

[2015-11-20 22:43] lasley commented on #56
This somewhat exists in `medical/wizard/medical_physician_unavailable_view.xml` now that I'm looking at it. Seems like the blocking of the schedule is explicit vs. implicit by their schedule.

[2015-11-25 19:35] lasley opened #61 "Error on install medical.patient.disease"
`medical.patient.disease` (most current version) errors out on initial install. I haven't T/S'd or anything yet, just dropping this here so I remember. Pulled from `Acsone/8.0-incubator-medical_disease-jne`

[code]

[2015-11-26 07:36] JonathanNEMRY commented on #50
I agree with @lasley : first we have to move 8.0-incubator into 8.0 before starting 9.0

[2015-11-26 07:58] JonathanNEMRY commented on #61
Hi @lasley !
very strange issue as we have this https://github.com/acsone/vertical-medical/blob/8.0-incubator_medical_disease-jne/medical/views/medical_patient_view.xml#L33 into the 8.0-incubator.

What are the other branches you use into your environement?
Is your 8.0-incubator is well rebase with the origin?

Unfortunatly I can't reproduce it from my side (I installed 8.0-incubator-medical_disea

[2015-11-26 16:38] lasley commented on #50
Sweet, glad we're on the same page @JonathanNEMRY. Looks like we're getting close to the finish line on the 8.0-incubator too :smile:

[2015-11-26 17:34] lasley commented on #61
Good question @JonathanNEMRY - I pulled directly from your branch with the pending PR, didn't do any rebases or anything. Everything was working great for me until I uninstalled everything (including the base medical module) then tried a reinstall.

I didn't have much time to troubleshoot initially, and was honestly thinking it was my local install, but I just started with a fresh instance an it's

[2015-12-01 20:33] lasley commented on #61
Yup definitely my environment. Sorry about the noise!

[2015-12-01 20:33] #61 closed, assigned to nobody

[2015-12-02 22:45] owerfelli opened #62 "Permission denied (publickey)"
hi everybody
when I try to execute $git clone git@github.com:oca/vertical-medical.git
I have the next error :
.....
Cloning into 'vertical-medical'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
..
thank you for the help

[2015-12-02 22:47] lasley commented on #62
Hi @oussamaw - You need to use the HTTPS clone URI unless you have write access to the repo. Also, I recommend using the `8.0-incubator` branch. Try:

[code]

[2015-12-02 23:15] owerfelli commented on #62
thank you @lasley
I'm done it but whit 9.0
but i have another error when I execute the push command and I make my user name and password  :
...
fatal: unable to access 'https://github.com/oca/vertical-medical.git/': The requested URL returned error: 403

[2015-12-02 23:18] lasley commented on #62
Hi @oussamaw - You wouldn't want to push unless you're making changes. If that's the case, you'll want to fork the repo, use your own checkout for development, then submit a pull request. Take a look at https://github.com/OCA/maintainer-tools/wiki for more info

[2015-12-02 23:21] lasley commented on #62
Also FYI - this repo is under heavy development, and 9.0 is not usable. We are currently developing in the 8.0-incubator branch; all plans to upgrade to 9.0 will proceed once that incubator has been completed.

[2015-12-02 23:26] owerfelli commented on #62
thank you @lasley
so i will change the branch,
and i must use odoo 8 ?

[2015-12-02 23:27] lasley commented on #62
That is correct

[2015-12-02 23:30] owerfelli commented on #62
thank you, you are too helpful :)

[2015-12-28 04:54] ghost opened #63 "Tradução - Portugês Brasil"
Olá, gostaria de saber quais são os arquivos de idioma do modulo, gostaria de traduzir e quem sabe usar. notei que ele não usa o mesmo padrão de idioma que a grande maioria dos módulos odoo.

[2016-01-05 19:58] Kickball commented on #50
What is the progress on migrating to 8.0?

[2016-01-05 20:05] lasley commented on #50
As far as I know, 0%. Working on a pharmacy module on my end at the moment, but that's in 8.0.

I'm hoping to start tackling 9.0 soon, but we would definitely need to make sure that the >10 PRs currently pending are finalized before even attempting that

[2016-01-05 20:55] Kickball commented on #50
How close are those PRs to being ready?

I'm considering deploying Vertical-Medical, but I feel it might be best to wait if 8.0 will be finished within less than a month.

[2016-01-05 20:57] lasley commented on #50
They're all ready IIRC, just need to be reviewed and merged. My team is internally targeting mid-Feb for 9.0

[2016-01-05 21:04] Kickball commented on #50
I'll wait until February then, thanks!

[2016-01-06 04:19] Kickball opened #64 "Run as Production"
The readme explains how to run the code in a development environment.

How would you run it as production?

There is also no list of required modules (postgres) or instructions of how to install them.

[2016-01-11 20:40] breznak opened #65 "[new Feature] visualization of streaming data/anomaly highlighting"
Hello,
I'm one of the developers of https://github.com/nupic-community/nupic.visualizations , an interactive visualization tool for streaming data, monitoring and anomaly highlighting.
I'm wondering if the functionality could be any helpful for your project?
Thanks for your feedback.

[2016-01-20 04:43] chong-richard opened #67 "Error in installing"
Hi,

I have install the Odoo Medical Module in my Odoo Version 8 running on Ubuntu Instance.

I try to install all other module but was being prompt about the following attached.
<img width="905" alt="odoo medical error" src="https://cloud.githubusercontent.com/assets/16298578/12440138/67ab5ca8-bf73-11e5-948a-a7fc1ed7affa.png">
<img width="453" alt="odoo medical error2" src="https://cloud.githubus

[2016-01-23 01:21] lasley commented on #50
FYI now that 8.0 PR is submitted, we've planned out what we need for 9.0.

My team will take on the following modules, and should be done in the next few weeks (some are already done):
- medical (this is being split into multiple modules)
- medical_family
- medical_insurance
- medical_insurance_us
- medical_medicament
- medical_medicament_attributes
- medical_medication
- medical_medication_us
- m

[2016-01-23 01:54] pedrobaeza commented on #50
OK, I have already updated the issue, and please ping when your PRs are merged on 8.0 branch to forward copy to 9.0 before starting migration.

[2016-01-23 01:55] lasley commented on #50
Awesome thank you!

[2016-01-31 07:32] lasley commented on #67
This should be resolved with the current version. Please let us know, or close the ticket if resolved.

[2016-01-31 07:33] chong-richard commented on #67
Hi,

Which current version do you mean?

Richard Chong
Mobile : +65 96557994tel:+65%2096557994
Email : richard@kloud-soft.commailto:richard@kloud-soft.com
Sent from Outlookhttps://aka.ms/qtex0l

On Sat, Jan 30, 2016 at 11:32 PM -0800, "Dave Lasley" <notifications@github.com<mailto:notifications@github.com>> wrote:

This should be resolved with the current version. Please let us know, or close the

[2016-01-31 07:33] lasley commented on #62
No problem, would you mind closing the ticket please?

[2016-01-31 07:34] pedrobaeza commented on #67
I directly close as Travis says us that they install.

@chong-richard, the one we have just pushed.

[2016-01-31 07:34] #67 closed, assigned to nobody

[2016-01-31 07:34] lasley commented on #56
@mmendozadelsolar - This should be resolved with the current version. Please let us know, or close the ticket if resolved.

[2016-01-31 07:34] lasley commented on #55
@mmendozadelsolar - This should be resolved with the current version. Please let us know, or close the ticket if resolved.

[2016-01-31 07:35] #62 closed, assigned to nobody

[2016-01-31 07:35] pedrobaeza commented on #56
I close also as giving this as solved

[2016-01-31 07:35] #56 closed, assigned to nobody

[2016-01-31 07:36] pedrobaeza commented on #55
Closing as well.

[2016-01-31 07:36] #55 closed, assigned to nobody

[2016-01-31 07:36] lasley commented on #37
Current development plans do not include Odoo versions before v8. I recommend upgrading, then using the current v8 (or soon v9) branch.

[2016-01-31 07:36] lasley commented on #36
This should be resolved with the current version. Please let us know, or close the ticket if resolved.

[2016-01-31 07:37] lasley commented on #35
This should be resolved with the current version (8). Please let us know, or close the ticket if resolved.

[2016-01-31 07:37] lasley commented on #25
This should be resolved with the current version (8). Please let us know, or close the ticket if resolved. V9 is in the works, and includes the same fix.

[2016-01-31 07:38] lasley commented on #17
This is resolved, please close :smile:

[2016-01-31 07:38] lasley commented on #16
This is resolved, please close :smile:

[2016-01-31 07:39] lasley commented on #7
This should be resolved with the current version (8). Please let us know, or close the ticket if resolved. V9 is in the works, and includes the same fix.

[2016-01-31 07:42] #36 closed, assigned to nobody

[2016-01-31 07:43] #35 closed, assigned to nobody

[2016-01-31 07:43] #25 closed, assigned to nobody

[2016-01-31 07:43] #17 closed, assigned to nobody

[2016-01-31 07:43] #16 closed, assigned to nobody

[2016-01-31 07:43] #7 closed, assigned to nobody

[2016-01-31 07:54] chong-richard commented on #67
@ Pedro,

So i go back to github to find the file and install again right?

Richard Chong
Mobile : +65 96557994tel:+65%2096557994
Email : richard@kloud-soft.commailto:richard@kloud-soft.com
Sent from Outlookhttps://aka.ms/qtex0l

---

From: Pedro M. Baeza <notifications@github.com<mailto:notifications@github.com>>
Sent: Sunday, January 31, 2016 3:34 PM
Subject: Re: [vertical-medical] Error in inst

[2016-01-31 08:12] pedrobaeza commented on #67
Yeah, download latest 8.0 branch (with git or manually the zip).

[2016-02-02 06:56] JayVora-SerpentCS commented on #50
We are adding team to speed this up!

[2016-02-02 07:11] lasley commented on #50
@JayVora-SerpentCS - Awesome, let's coordinate on this then.

PRs are currently pending for about half of the ones I listed in my comment above as being completed on my end, which I believe cover all dependencies for the rest of the modules.

You looking to start anywhere in specific, or just looking to get everything to 9.0 as a whole?

As a general note, the modules with `oemedical` prefix have

[2016-02-05 07:40] JayVora-SerpentCS commented on #50
Guess, we should make v8 modules completed first.

[2016-02-05 08:40] lasley commented on #50
@JayVora-SerpentCS Honestly I was just going to skip v8 on the ones that we didn't port, but that would definitely be a good start.

The modules with `oemedical` prefix need a significant amount of work before they are anything close to ready for production. The ones with `medical` prefix should be somewhat good, but do not fall in line with OCA standards in a lot of ways (particularly modularity

[2016-02-05 08:41] lasley commented on #50
I would say that if you're going to just flat out upgrade a module without restructuring, please only bring it to v8. We can then use v9 as a staging for truly good modules. This library has a significant amount of errors as is, and will require a lot of QA to actually upgrade.

[2016-02-07 08:51] anon-hello opened #85 "why have no demo ??"

[2016-02-07 12:07] pedrobaeza commented on #85
Because nobody has contributed with them.  Maybe you?

[2016-02-19 16:29] askz commented on #50
Hi folks, and thanks for your hard work on this project!
I extended the appointment module to generate invoice automaticaly when app is done, for one of my clients. Would you be interested on this? I don't want to waste your time.

[2016-02-19 16:30] pedrobaeza commented on #50
Yeah, it can be an interesting module. You can make a PR for it.

[2016-02-19 16:31] lasley commented on #50
@askz There is already a medical_invoice module, does this by any chance upgrade any of that logic?

[2016-02-19 16:32] lasley commented on #50
(also any contribution is welcome IMO)

[2016-02-19 16:35] pedrobaeza commented on #50
Of course, that's the spirit of OCA! It can follow 2 approaches:
- Open an issue to discuss the convenience of the new feature/module plus a way to implement it (if it's no done)
- Open a PR and discuss over the work already done how to improve it/complement it with the rest of the OCA ecosystem.

It's convenient though to take into account if there's already an existing feature about it, because

[2016-02-19 16:35] lmignon commented on #50
@lasley an invoice is an invoice IMO, invoice must stay an account_invoice and we should avoid to define a new model for this transverse concept.

[2016-02-19 16:36] askz commented on #50
@lasley yup. Actually I've taken the snippet that generate the invoice and invoking it when stage is 'done' :
![screenshot](https://cloud.githubusercontent.com/assets/854038/13181853/4f0b9b26-d72f-11e5-86c9-b8a2981784fc.png)

[2016-02-19 16:38] askz commented on #50
@lmignon you're totally right, and I haven't done that. Just generating account.invoice when an appointment is done ;) Sorry for the spam, I'll open an issue when my code will be reviewed a little.

[2016-02-19 16:38] lasley commented on #50
@lmignon That makes sense, I think I mis-posed my question. Really I was asking if the logic had been moved from the invoice module, or if it was new.

Part of the direction of my inquiry was actually due to the logic I had seen in the pre-existing library, and the fact that it did not use the account.invoice core.

@askz Any way to switch this a bit so that it's using account.invoice instead?

[2016-02-19 16:40] askz commented on #50
@lasley I edited my last comment. And this is what I did. But I'm constrained to inherit medical.appointment. Since I'm a newbie in odoo development too.

[2016-02-19 16:41] lasley commented on #50
@askz  Bit of history - this library has a lot of modules that were combined into super-modules of sorts. We've been working at breaking them up into their independent features, as well as isolate to what the modules are actually working with. You can really see this history by looking at the ones we haven't touched yet, like medical_invoice.

Is your existing code in your repo somewhere so I can

[2016-02-22 09:10] askz commented on #50
@lasley okay great. Thanks for this rewind.
I'll do a public release in the end of the week, I have to work on this a little.
Thanks for your assistance guys!

[2016-02-24 03:21] xiasun opened #98 "Why make it not installable?"
Thank you for this project, I was trying to study this module somehow but i found all modules are flaged "installable = fasle", So why are these modules uninstallable now?

*_The way I use this project: *_
Paste the total "vertical-medical" folder to my odoo path, then add it to the "addons-path" in the config file. Then modify the "medical/**openerp**.py" and mark installable true. Then restart t

[2016-02-24 08:28] pedrobaeza commented on #98
They are not installable because they are not migrated to odoo 9. Just like that. Please follow the migration progress in https://github.com/OCA/vertical-medical/issues/50

[2016-02-24 08:28] #98 closed, assigned to nobody

[2016-02-24 08:43] xiasun commented on #98
Okay thank you!

2016-02-24 16:28 GMT+08:00 Pedro M. Baeza notifications@github.com:

[2016-02-25 03:44] xiasun commented on #98
By the way, is vertical-medical 9.0 fully usable under odoo 8? Strangely, I can only make "medical" and "medical_disease" installable, I cannot install the rest apps/modules even if I have make the flag installable true.

[2016-02-25 08:51] pedrobaeza commented on #98
Why are you trying to do such thing? Use the 8.0 branch on version 8.0.

[2016-02-27 14:49] IbrahimMAbed opened #103 "Odoo Server Error"
![medical-error](https://cloud.githubusercontent.com/assets/17514986/13373493/fd0d5564-dd71-11e5-8258-cbee391ec13d.png)

[2016-02-27 20:52] lasley commented on #103
Hi @IbrahimMAbed - Thanks for the submission. This error is confirmed in v8 & 9. Fixes incoming

[2016-02-27 22:13] IbrahimMAbed commented on #103
Another error when i upgrade the module with the new fix but now in the create patient form.
![medical-error1](https://cloud.githubusercontent.com/assets/17514986/13375725/04230cf2-ddb0-11e5-860d-8ad9fa3f28ba.png)

[2016-02-27 22:20] IbrahimMAbed commented on #103
Another one :cry:
![medical-error2](https://cloud.githubusercontent.com/assets/17514986/13375766/f2f479ba-ddb0-11e5-8561-9ae7573fd2f2.png)

[2016-02-27 22:29] lasley commented on #103
Hah ok let me actually test this in V8, I just directly backported from the 9 changes. Must be something different in the cores that I forgot about :smile:

[2016-02-27 22:59] lasley commented on #103
@IbrahimMAbed Ahh so it was an issue with there being no patient_id on initial creation. We should be good to go now, my bad on the oversight.

[2016-02-29 17:32] lasley opened #105 "Patient age computation +1d when birthdate & calc on Feb 29"
Patient age computation is +1 birth day and calculation day is Feb 29.

https://travis-ci.org/laslabs/vertical-medical/jobs/112172775

[code]

[2016-02-29 17:46] pedrobaeza commented on #105
Test data should avoid this kind of variants across the moment of the execution.

[2016-02-29 17:47] lasley commented on #105
This is actually an issue with the datetime library calcs.

[code]

@pedrobaeza - I agree that test data should be static, and I will be fixing the tests as such. I will also be adding this edge case in once I figure out the best way to fix it.

[2016-02-29 17:52] pedrobaeza commented on #105
The only exception to this question is when you work with financial data (invoice validation for example that generates account moves), because it requires the fiscal year and the period (this is removed in v9 though), and you don't want to check if they exist, and if not, create it, and so on.

[2016-02-29 17:56] lasley commented on #105
Ahhh that's a good exception, glad you said something - I typically try to make the test data as structured as possible in order to avoid unknown catastrophes, but this makes sense from the way that fiscal years & periods worked in v8.

[2016-02-29 18:56] lasley commented on #105
@pedrobaeza Hah you were 100% right - there is no way that this condition can occur outside of a broken test - It is impossible for a person to be born on a leap day 10 years ago. I went ahead and updated the tests, as well as added one for leap year just for good measure!

[2016-03-03 02:37] luigisison opened #107 "Can't install V8"
Get this error message when I attempt to Update Modules List in V8.

Odoo Server Error

---

Traceback (most recent call last):
  File "/odoo/odoo-server/openerp/http.py", line 539, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/openerp/http.py", line 576, in dispatch
    result = self._call_function(*_self.params)
  File "/odoo/odoo

[2016-03-03 10:23] askz opened #108 "IntegrityError: insert or update on table "medical_appointment" violates foreign key constraint "medical_appointment_consultations_fkey""
Hi, I have a really annoying bug on medical module, when I install it the first time it's ok, I can inherit from it and create modules, update views and all, everything's fine.
But when there's data inputed (appointments, physicians) and I update medical module (with -u or update button in odoo) it's belzebut :

[code]

I tried to figure out why but this get over me. Thanks for your time.

[2016-03-17 20:05] AizenL opened #110 "AttributeError: 'list' object has no attribute '_onchange'"
Issue on Odoo 8 installing Medical Medication

[code]

[2016-04-14 19:07] lasley commented on #108
Hi @askz Thanks for the submission, sorry for the late reply. I've been trying to replicate this, have been able to reproduce a few times, but nothing consistent. Do you have a consistent way of reproducing this, with the specific modules installed at the time?

[2016-04-26 08:46] askz commented on #108
Hi @lasley, in fact you just have to do some appointments, and restart odoo with -u medical
I just had the medical module installed. I'm currently working with this worktree : https://github.com/BusinessAgile/vertical-medical/tree/dev
the medical_appointment_invoice module is progress, I have to refactor all this code.

[2016-05-17 12:41] askz commented on #108
The branch has changed it's now https://github.com/BusinessAgile/vertical-medical/tree/8.0

[2016-05-30 16:23] askz opened #111 "trying to inherit calendar.event from medical.appointment"
Hi, I'm trying to enhance your appointment's module by inherit calendar.event instead of re-create a calendar.
The main goal is to get native event recurrence and attendee's functionality, or maybe I'm wrong with doing that and I need to create my recurrence code in appointments? (not sure ahah)
I'm pretty new in odoo development but I made the whole part I think.
There's an error when I'm trying

[2016-05-30 18:38] lasley commented on #111
HI @askz - Apologies, but I think I am missing something here. I don't see any inheritance w/ calendar modules in your branch.

[2016-05-30 18:39] lasley commented on #111
(Although I totally agree with your logic of inheriting from core - these medical modules duplicate a lot of logic and model attributes that exist in Odoo)

[2016-05-30 22:19] askz commented on #111
Hi @lasley! Sorry I should guide you, check this [out](https://github.com/BusinessAgile/vertical-medical/blob/recurrency/medical_appointment_invoice/models/medical_appointment.py).

I didn't worked a lot on medical module, just some tuning to meet my needs. The important part is in medical_appointment_invoice. I was first coding automatic generation of an invoice when an appointment was done - thi

[2016-05-30 22:31] lasley commented on #111
Awesome, thanks @askz

I am kind of confused though, as the error is being thrown due to `calendar.attendee` insert/update constraint violation, not a `calendar.event`, which is what the model is inheriting from.

Are you using `calendar.attendee` anywhere in your branch, or is this somehow bubbling directly from the `medical.appointment.new` model/inheritance chain?

[2016-05-30 22:51] askz commented on #111
Yup me too, at the beginning this was about calendar.event and after I added calendar_attendee and res_partner class and now I still can't create an appointment. And I can confirm I use it just on this file and in the corresponding view medical_appointment.xml
And in fact the actual calendar.event code and other snippets from other models helped me to understand a lot to understand how's working

[2016-06-11 00:13] lasley commented on #111
Hi @askz I took a look at your code, and the issue lies in https://github.com/BusinessAgile/vertical-medical/blob/recurrency/medical_appointment_invoice/models/medical_appointment.py#L62

You'll see that it tries to use event_id - https://github.com/odoo/odoo/blob/f9688cc63f6f89081c649ff365dcd738f0eff26e/addons/calendar/calendar.py#L1072

But I am betting that it is null (empty recordset) in your

[2016-06-11 22:24] juhenriquez commented on #98
For some odd reason I get the same thing for odoo 8, any ideas?

<img width="960" alt="2016-06-11 18_23_26-start" src="https://cloud.githubusercontent.com/assets/8250019/15987734/c0faebb2-3001-11e6-9792-8fe7cae238fc.png">

[2016-06-11 23:54] juhenriquez opened #114 "Project Translation"
Is there any project translation on transifex where one would contribute by translating the term on the modules?

[2016-07-27 14:36] SiriusFuenmayor opened #115 "Error installing the "Medical EMR" module"
Hi, I have managed to install all the modules of vertical-medical except for "Medical EMR", when I try I get the following error:

[code]

Any ideas regarding this error?

[2016-07-27 14:37] SiriusFuenmayor commented on #115
I'm talking about the 8.0 branch version of the Medical EMR module and Odoo 8

[2016-07-27 16:10] lasley commented on #115
Hi @SiriusFuenmayor - Medical EMR is not compatible with v8, and is fully deprecated in 9.

For general rule of thumb - if you have to edit the `__openerp__` file to make something installable, it is not supported on your version.

[2016-07-27 17:21] SiriusFuenmayor commented on #115
Thank you Dave, I have also tried to install oemedical in Odoo 8 but the installation takes forever, I have seen here [](https://github.com/OCA/vertical-medical/issues/1) that you are trying to port oemedical to version 8, what is the current status of this?

[2016-07-27 17:21] SiriusFuenmayor commented on #115
Thank you Dave, I have also tried to install oemedical in Odoo 8 but the installation takes forever, I have seen here (https://github.com/OCA/vertical-medical/issues/1) that you are trying to port oemedical to version 8, what is the current status of this?

[2016-07-27 17:28] lasley commented on #115
Anything with an `oe` prefix is deprecated and will be replaced with a non-`oe` module with the same name.

In this case, `medical` was the replacement. `emr` is in the process of being split into the modules you see here w/ non-oe prefixes + what is left in the folder (also why it is unusable).

TBH - my team is working on v9, so there will be no further forward development in regard to v8 from m

[2016-07-28 15:34] SiriusFuenmayor commented on #115
Thank you again, I will look into that

[2016-08-15 00:43] prihadi opened #116 "Odoo v9 : Medical appointment"
Hi Community,

Just installed the medical appointment module and got this error after selecting the appointment menu from Medical:

Odoo Server Error
Traceback (most recent call last):
  File "E:\Program Files\Odoo 9.0-20160729\server.\openerp\http.py", line 647, in _handle_exception
  File "E:\Program Files\Odoo 9.0-20160729\server.\openerp\http.py", line 684, in dispatch
  File "E:\Program Files

[2016-08-15 13:50] lasley commented on #116
Hi @prihadi - `medical-appointment` has not been converted to v9 & errors are expected. There is a WIP PR at #70 if you need the module, but it may not be compatible with the version that is released due to it being Work in progress.

[2016-08-15 13:50] #116 closed, assigned to nobody

[2016-08-19 10:21] #64 closed, assigned to nobody

[2016-08-23 09:54] hejiann commented on #114
There has no .po files in modules. How to generate the .po file?

[2016-09-09 16:43] lasley commented on #115
Closing - this is an unported module as mentioned in previous comment

[2016-09-09 16:43] #115 closed, assigned to nobody

[2016-09-11 12:11] mikejmets commented on #1
I'm interested in version 8. I'm new to Odoo but I have a prospective client that needs EMR and I can try get him to sponsor my time. Can anyone comment of the effort required to port it from 7 to 8 or backport from 9 to 8 (although 9 still has installable=False)?

[2016-09-12 14:16] lasley commented on #1
@mikejmets - v8 is already released and should work well. I cannot comment on backport to v7. My team is currently working on v9, with ~20 PRs pending at this point. I believe our finalization tickets for all those just started coming up, so we should start seeing those move from Work in Progress soon.

[2016-09-12 20:28] mikejmets commented on #1
Thanks @lasley, I installed v8 in your fork successfully. It's recommended to me to stay on 8 for clients that insist on zero licence fees. Do you think I should install 9 for my client?

[2016-09-12 20:31] lasley commented on #1
All versions are AGPL-3 licensed.

V9 in our fork works well (`release/9.0` branch), but I cannot guarantee production viability/stability quite yet. Most of the modules with PRs up have been solidified in terms of model attributes and all that, but we haven't fully frozen them yet.

If you're using v8, you can just use the OCA fork. Those are solidified & will be updated more often than our's. My

[2016-09-13 12:06] yvaucher commented on #1
@mikejmets v9 can still be license fee free as long as you use only the community version instead of enterprise version. Enterprise version is not required for Odoo to work it only adds features. The core of 9.0 is LGPL instead of AGPL.
Nevertheless, there are still more community modules on V8 than on V9, so you might want to stick to V8.

[2016-09-19 14:14] aiman-leghrib commented on #67
Hi, im trying to install vertical-medical but  after i  instaled successfully the first medical module its appear in my local module so i tried to install medical_disease by adding the directory on the addons path but it doesn't appear in my local module can anyone help me step by step to install the other modules .thanks by the way im using odoo 8 on ubuntu 16.04

[2016-10-06 14:11] pedrobaeza opened #117 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] medical - #119
- [ ] medical_base_history - @jcdrubay LasLabs#80 (incubator)
- [ ] medical_base_kanban - Deprecated for OCA/server-tools#681
- [ ] medical_base_us - @kellylougheed #156
- [ ] medical_center - @kellylougheed #154
- [ ] medical_appointment - @jcdrubay LasLabs#81 (incubator)
- [ ]

[2016-10-14 22:03] lasley commented on #107
Hi @luigisison - I don't see vertical medical in your traceback. What makes you believe that it is this repo causing the issue?

[2016-10-14 22:03] #105 closed, assigned to nobody

[2016-10-14 22:04] lasley commented on #105
This was merged

[2016-10-14 22:04] lasley commented on #85
We are adding as part of v9 upgrade, closing ticket

[2016-10-14 22:04] #85 closed, assigned to nobody

[2016-10-14 22:05] lasley commented on #37
Closing ticket, v7 is unsupported

[2016-10-14 22:05] #37 closed, assigned to nobody

[2016-10-14 22:05] lasley commented on #103
Closing to track in PR #104 - please provide review or additional comments there

[2016-10-14 22:05] #103 closed, assigned to nobody

[2016-10-14 22:10] lasley commented on #63
Olá - obrigado para a apresentação. Estamos actualmente a falta de arquivos de tradução, mas eu não sei exatamente como gerá-los

Nós temos uma outra questão que veio depois de um presente, mas é em Inglês, por isso estou indo para fechar esta para rastrear sob essa - #114

[2016-10-14 22:10] #63 closed, assigned to nobody

[2016-10-14 22:11] lasley commented on #114
@pedrobaeza - Can you maybe point me in a direction in order to generate these PO files? I'm clueless on everything translation TBH

[2016-10-15 00:55] lasley commented on #110
Hi @urbandesignec - this works fine in my local and Runbot using the current 8.0. Can you please verify that this is resolved?

[2016-10-15 01:11] lasley commented on #65
Hi @breznak - This looks like a nice project, but I'm not so sure how easy it will be to integrate into the existing ERP resources. Node is technically a requirement of Odoo, so this is possible from that standpoint, however we need more of an embedded approach IMO.

I'm going to close this ticket though - I believe this conversation would be more suited to a more centralized repo such as our [rep

[2016-10-15 01:11] #65 closed, assigned to nobody

[2016-10-15 01:13] lasley commented on #111
Hi @askz - any updates on this?

[2016-10-15 11:27] pedrobaeza commented on #114
I have updated .travis.yml files to include Transifex, so I close.

[2016-10-15 11:27] #114 closed, assigned to nobody

[2016-10-15 13:02] lasley commented on #114
Good to know that's all it takes, thanks @pedrobaeza

[2016-10-15 17:50] lasley commented on #4
Hi all - I am closing this, as it is related to a v7 module that is not being carried forward into newer versions anytime soon.

We will gladly review PRs to clean the module up & upgrade.

[2016-10-15 17:50] #4 closed, assigned to nobody

[2016-10-17 08:54] emanhaddad opened #118 "when I try to install medical_prescription I get: KeyError: 'medical.prescription.order'"
module: medical_prescription
version: 8.0.1.0

[2016-10-17 11:01] askz commented on #111
Hi @lasley !

I had totally forgotten this issue since I'm not using anymore the vertical-medical modules.
I finally managed to inherit calendar.event with my own module from scratch and it works like a charm !

So I think we can close that.

Thanks for your help :)

[2016-10-17 11:01] #111 closed, assigned to nobody

[2016-10-18 04:25] lasley commented on #118
Thanks for the report @emanhaddad - can you please provide the full traceback?

[2016-10-18 07:30] emanhaddad commented on #118
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 8.0-20160823\server.\openerp\http.py", line 544, in _handle_exception
  File "C:\Program Files (x86)\Odoo 8.0-20160823\server.\openerp\http.py", line 581, in dispatch
  File "C:\Program Files (x86)\Odoo 8.0-20160823\server.\openerp\http.py", line 317, in _call_function
  File "C:\Program Files (x86)\Odoo 8.0-20160823\server.\op

[2016-10-18 19:21] lasley commented on #118
@emanhaddad - I am unable to replicate this on my local or in Runbot. Your traceback seems to show inconsistent path hierarchy, so I think the issue lies in that:

Some are:

[code]

But others are:

[code]

I recommend removing the `.` from the end of your server installation path and trying again. Please let me know if this fixes it.

[2016-10-22 08:25] emanhaddad commented on #118
doesn't fix it

[2016-11-01 00:20] lasley commented on #117
FYI all modules existing on 9.0 in our incubator branch have been ported 1:1 with v10 and are confirmed working.

We are finalizing some nice feature plans & will begin dropping the v10 PRs soon.

Our main goal for v10 is going to be primarily targeted towards documentation and the addition of tours for all modules.

[2016-11-01 08:51] sbidoul opened #122 "README.md not standard"
README.md is not structured according to OCA conventions (eg it is missing the addons table).

https://github.com/OCA/maintainer-quality-tools/tree/master/sample_files

[2016-11-01 10:35] pedrobaeza commented on #117
Cool! Do you prefer that I destroy branch and recreate from 9.0 again to get latest 9.0 version?

[2016-11-02 16:14] lasley commented on #117
Nah no need, the OCA 9.0 is still pretty far behind (~350 commits) our incubator. We created the 10.0 incubator from our 9.0 incubator, which also contains maybe 20 or so modules not included in this 9.0.

We're working on getting the existing ones released first, then will worry about the others. All in all, I am very happy with the progress we've made here and am looking forward to seeing the ch

[2016-11-03 02:59] lasley commented on #118
@emanhaddad - I'm still not able to replicate this unfortunately. I even double checked the model order in the init file (what normally causes this), and it is fine.

To rule out local issues, is this something you can also replicate on Runbot?

[2016-11-09 18:46] lasley commented on #122
Thanks @sbidoul - done. Closing to track in the independent PRs

[2016-11-09 18:46] #122 closed, assigned to nobody

[2016-11-09 18:46] lasley commented on #107
No response, closing

[2016-11-09 18:46] #107 closed, assigned to nobody

[2016-11-09 18:47] lasley commented on #110
No response, closing

[2016-11-09 18:47] #110 closed, assigned to nobody

[2016-11-09 18:48] lasley commented on #1
v8 core migration has been complete for some time. Closing this.

[2016-11-09 18:48] #1 closed, assigned to nhomar

[2016-11-16 05:33] lasley opened #127 "[RFC][11.0] Medical Menu Redesign"
I am working on a redesign for the layout of medical menus for v10. Currently everything is under a central `Medical` app with a series of submenus, most of which are under `Configuration` (screenshot at bottom of this message). The current layout is unwieldy in terms of usage for Community web, and looks like absolute garbage on Enterprise or `web_responsive`.

Current plan is as follows:

* Dash

[2016-11-16 05:41] lasley commented on #118
No response and likely local issue, closing. Please let us know if you still need assistance

[2016-11-16 05:41] #118 closed, assigned to nobody

[2016-11-16 05:42] lasley commented on #108
@askz Have you made any progress on your branch? I will be upgrading `medical_appointment` here in the next week or two and want to make sure that effort isn't being duplicated.

[2016-11-16 09:24] pedrobaeza commented on #127
With new app centric top menu, I think you should split them into several top menus with a proper icon.

[2016-11-18 11:41] mamaf opened #128 "Error in medical_insurance_company"
When I try tocreate an "insurance provider", I get this error :

Traceback (most recent call last):
  File "/home/it-6it/aoe-dev_80/base/openerp/http.py", line 539, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/it-6it/aoe-dev_80/base/openerp/http.py", line 576, in dispatch
    result = self._call_function(**self.params)
  File "/home/it-6it/aoe

[2016-11-21 20:49] lasley commented on #127
I think you've got a good point @pedrobaeza. It might also make sense to make different "Apps" for different contexts, instead of just adding into menus in all of the independent packages.

At this point the vertical-medical repo is fairly granular, so it may make sense for some sort of super-package hierarchy. Say you're running a pharmacy, you install `medical_app_pharmacy` which would install:

[2016-11-21 21:04] lasley commented on #128
Hi @mamaf - thanks for the report. Fixed in #129 if you would like to review

[2016-11-21 22:08] mamaf commented on #128
It's ok now

[2016-11-21 22:08] #128 closed, assigned to nobody

[2016-11-21 22:27] lasley commented on #128
@mamaf Please also add an approval to the [Pull Request](https://github.com/OCA/vertical-medical/pull/129) if this fixed the issue. Thanks!

[2016-11-22 00:04] lasley opened #130 "Remove sticky `8.0-incubator` branch in Runbot"
Please remove the `sticky` attribute from `8.0-incubator` branch of `vertical-medical` in Runbot. Dev is done there and all has been merged to `8.0`

[2016-11-22 08:06] pedrobaeza commented on #130
Done

[2016-11-22 08:06] #130 closed, assigned to nobody

[2016-11-27 22:58] lasley commented on #127
I'm moving this to 11.0 milestone for the `medical` app. We may just kill this menu entirely in favor of an approach taken in https://github.com/laslabs/vertical-medical/pull/44, which is the `medical_app_*` concept that is somewhat laid out in https://github.com/OCA/vertical-medical/issues/127#issuecomment-262062827

Admittedly I want to get rid of the `medical` module altogether, so this would a

[2016-12-01 17:42] lasley opened #133 "Odoo Apps Store Charging for Vertical-Medical"
The following apps have mysterious 500 EU price tags:
* https://apps.odoo.com/apps/modules/9.0/medical_patient_disease_allergy/
* https://apps.odoo.com/apps/modules/9.0/medical_patient_disease/

Sent email to Odoo Apps support. Pretty sure it's due to an incorrect module being linked in the dependencies:
* https://apps.odoo.com/apps/modules/9.0/medical_pathology/

[2016-12-05 16:23] lasley commented on #133
Received a response from Odoo SA, who advised that the module name was taken (as noted in my original comments).

I took a look at the conflicting module by Pragmatic, and it was obviously based from `oe_medical_lab`. Opened licensing dispute, Odoo SA confirmed this module was plagiarized, and removed from Apps Store.

[2016-12-05 16:23] #133 closed, assigned to lasley

[2016-12-05 16:27] lasley commented on #133
cc @OCA/board

FYI Pragmatic [has verticals that all look nearly identical to OCA's](http://www.pragtech.co.in/products.html). With the fact that they plagiarized vertical-medical, I find it likely these are suspect as well. I'm not sure the handling of this though, because I only know medical well enough to cry wolf accurately.

[2016-12-05 17:22] lasley opened #136 "[RFC][11.0] Translation of Imported Data (ICD-10, etc.)"
The current plan in #134 is to outright remove the giant data files that we have in `oe_medical_emr_data` in favor of import systems for dynamic update of data. These XML files are more than 10 MiB each & are updated yearly, so this is essentially the only way to go about handling these processes in a forward-efficient manor.

This brings up an interesting problem that I will not be solving in tha

[2016-12-06 08:56] dreispt commented on #133
At this moment, the best we can do is what you did - report it to Odoo.

We could put on the OCA Board agenda discussing with Odoo about the apps plagium issues.
It is also Odoo's interest to solve this, since customers buying plagiarised modules from the App store are at a legal risk (from being sued by the original authors, and maybe even forced to AGPL their private custom code).
Something like

[2016-12-06 15:57] lasley commented on #133
Yeah that's pretty much the situation as I understand it too @dreispt. I got lucky in the sense that there was a spelling error smack dab in the middle of everything, so it was spottable in their marketing videos. Really I would have never looked had there not been a namespace conflict though.

An interesting conundrum created by this is that the new module replacing the plagiarized one ( #137 ) i

[2016-12-15 02:30] jcdrubay opened #143 "[8.0 on runbot] Application error when changing the state of an appointment"
File "/root/odoo-8.0/addons/web/controllers/main.py", line 936, in _call_kw
    return getattr(request.registry.get(model), method)(request.cr, request.uid, *args, **kwargs)
  File "/.repo_requirements/odoo/openerp/api.py", line 268, in wrapper
    return old_api(self, *args, **kwargs)
  File "/root/build/OCA/vertical-medical/medical/models/medical_appointment.py", line 245, in write
    lang_id)[

[2016-12-15 02:32] jcdrubay commented on #143
Workaround: set the language of the current user in preference.

[2016-12-17 09:15] App-247 opened #144 "Migration to version 10.0"
Hi, I want to migrate the **medical** module to version **10.0**. Thanks.

[2016-12-17 14:34] App-247 opened #146 "Transifex project vertical-medical (10.0)"
Please create project vertical-medical (10.0) in Transifex. Thanks.

[2016-12-17 14:41] App-247 commented on #117
I submit today PR with **Medical** module migrated to 10.0. I'm still working on the other modules ...
It is my first job migrating modules to version 10. Your comments will be appreciated.

[2016-12-17 18:04] pedrobaeza commented on #146
Hi, Gustavo, the project will be autocreated when the first installable module arrives in the branch.

[2016-12-17 18:04] #146 closed, assigned to nobody

[2016-12-17 18:43] lasley commented on #144
Hi @App-247 - thanks for the initiative. Please see my comments in your PR and let me know if you have any questions. I would love to coordinate the upgrade effort with you; we can do so in #117.

Also a great way to contribute is to review the existing PRs. Half the reason that I haven't submitted all my v10 work yet is because my v9 work sat for nearly a year before getting reviewed.

It is incr

[2016-12-17 18:43] #144 closed, assigned to nobody

[2016-12-17 18:53] lasley opened #147 "Improve Documentation"
All of the ReadMes in Vertical Medical need:
* Configuration (if applicable)
* Usage Instructions
* Screenshots
* Definitions - things like Pathology, Medicament, etc. What is the scope of the context (nice to have)

Modules already on v9:
- [ ] medical
- [x] medical_base_us - N/A
- [ ] medical_medicament
- [ ] medical_medication
- [ ] medical_pathology - #135
- [ ] medical_patient_disease
- [ ] m

[2016-12-17 19:01] lasley commented on #147
@bmw95 take note of this for your migrations

[2017-01-06 08:13] lasley commented on #143
@jcdrubay - Has this issue been touched in your recent work in appointment?

[2017-01-06 08:25] jcdrubay commented on #143
I did not check this in v10

[2017-01-06 08:27] jcdrubay commented on #143
I can still reproduce the issue in runbot (after removing the language) http://3274999-8-0-c69c07.runbot2.odoo-community.org/web?#id=7&view_type=form&model=medical.appointment&action=146

[2017-01-06 08:29] lasley commented on #117
Added @jcdrubay to `medical_base_history` and `medical_appointment` for incubator PRs LasLabs#80 & LasLabs#81 respectively.

@nhomar @pedrobaeza - What are your thoughts on moving the LasLabs incubators to OCA? We're doing a lot of work over there, and I really hate to point contributors to our repos. We'd need to make some sort of tag for the PRs or something, but I think this is something we can

[2017-01-06 09:53] pedrobaeza commented on #117
Are you talking about dump directly the incubator branches here as the good ones?

[2017-01-06 16:35] lasley commented on #117
Nah I'd like to move the incubators to here as incubators basically. OCA/vertical-medical/9.0-inbubator & OCA/vertical-medical/10.0-inbubator. It should all still go through review process, to get onto the real branches.

It's not necessarily a problem being in my fork, I just feel it's kind of weird to point contributors to my repos instead of here. Maybe I'm overthinking it?

[2017-01-07 15:37] pedrobaeza commented on #117
Yeah, I prefer also that you move the PRs here and to benefit directly from OCA CIs and so on.

[2017-01-07 16:01] jcdrubay commented on #117
+1 :)

On Sat, Jan 7, 2017 at 10:37 PM, Pedro M. Baeza <notifications@github.com>
wrote:

--

*Jean-Charles Drubay*
Mobile: +84 (0) 909 64 34 69
jc@komit-consulting.com / Skype: jc.drubay
http://komit-consulting.com/

[2017-01-07 18:28] lasley commented on #117
Alright thanks, I'll work up some sort of plan for migration of the incubators in the next weekish.

[2017-01-08 23:59] lasley commented on #127
The overall redesign of all menus is completed in LasLabs#84. Additional menus will be created via new applications for specific medical contexts, such as medical_app_pharmacy in LasLabs#44.

I am closing this to track in PR

[2017-01-08 23:59] #127 closed, assigned to nobody

[2017-01-09 17:47] bealdav opened #153 "Medical Manufacturer"
Hi @bmw65 and @lasley

Good activity in this repository, nice.

Sure your modules will have nice success in a near future in all over the world.

Just one point. Your module medical_manufacturer seems to be generic, not specific to medical.

It's not a problem for me, you can let it as it. But maybe you can get less maintenance work on your side putting it this module in partner-contact or manufac

[2017-01-09 17:54] lasley commented on #153
Hi @bealdav - Yeah if this is something that OCA can use outside of medical context, great!

In v10 this module went kind of a different direction due to the Medical Abstract Entity that was introduced in #119. The current implementation relies on a`is_manufacturer` column that was starting to stack up with the other entity types. It was also somewhat conflicting with the new partner types introdu

[2017-01-09 18:09] bealdav commented on #153
Yes it could be a good addition to have a generic way to define specific partners base on res.partner, a type and another table to store specific fields
On my side I had to deal with dropoff.site as partner extension in v6. Abstract it could be an improvment.
If you make a PR, I'll approve it.

Thanks

[2017-01-09 18:30] pedrobaeza commented on #153
There's a module product_manufactures that can be linked with this. Anyway, I prefer partner_custom_info to add more info to the partners in a templating way.

[2017-01-09 18:34] lasley commented on #153
@pedrobaeza - We were actually thinking of hooking into this at the product_brand level, but that's mainly because I didn't know about the product_manufacturer module. Seems like a why not both scenario IMO.

Regarding partner_custom_info - we didn't go this direction because an explicit context is required for us. We are injecting a lot of custom methods, fields, and defaults into these models in

[2017-01-09 18:48] pedrobaeza commented on #153
OK, it's acceptable to rely on a fixed DB structure

[2017-01-16 23:03] lasley opened #160 "[9.0] Module renames added to OpenUpgrade"
Many modules were renamed between 8 and 9. The changes are all documented in the ReadMes for the most part, but we need to add to OpenUpgrade - https://github.com/OCA/OpenUpgrade/blob/9.0/openerp/addons/openupgrade_records/lib/apriori.py

One thing I'm not sure about is what to do when a module was split into separate modules. This has happened quite a bit.

[2017-01-17 08:27] pedrobaeza commented on #160
If a module has been split, the strategy can be to rename the old one to one of them, and include a migration script in it that mark the state of the other module as "to install". Example: https://github.com/OCA/OpenUpgrade/blob/338b2be4af22334c3329367274cccb2dd62dee78/addons/product/migrations/9.0.1.2/pre-migration.py#L90

[2017-01-17 16:45] lasley commented on #160
Brilliant, thanks for the insight @pedrobaeza. I have admittedly not used OpenUpgrade yet, so I'm operating on purely hypotheticals. Our internal site is going to need upgrading soon though, so that will likely be a repo you will begin to see me in soon 😸

[2017-01-19 20:06] lasley opened #162 "[RFC] sale_medical_insurance: Insurance sales and adjudication"
This module will allow for a `medical.insurance.plan` to be applied to a `sale.order`, using a select box similar to the way that Carrier Rates are currently selected.

A field will also be added to select the patient that the order is associated with, which would be domain restricted to any patient that is related or a child of the `partner_id` in the sale.

From a high level, there are two ways

[2017-01-19 23:36] jcdrubay commented on #162
What is very important to track is:
 - what does the insurance agree to pay for? It is very common that the insurance agrees for part, but not all.
- another big question is who needs to pay what: direct payment from insurance or reimbursement to the patient

I imagine this information needs to be stored at the sale order line level.

Then, in large medical centers in Vietnam, there is a dedicated

[2017-01-20 23:41] lasley commented on #162
Sounds like we have very similar healthcare systems. In the first point of the payment pre-auth, we have two different sides of it in US:

* Prospective - This is typically used in clinical settings, to see what an insurance is willing to pay before the procedure is performed or medicine prescribed.
* Retrospective - This is the most common pre-auth, and is after a procedure is performed or drug i

[2017-02-28 16:03] lasley opened #169 "[9.0][BUG] medical_family: Views missing"
The newly upgraded `medical_family` module is not properly showing all views.

@kellylougheed - Please audit the views in the module against the views that are actually showing.

[2017-03-01 21:18] kellylougheed commented on #169
@lasley The views looked fine to me on release/9.0, although when I tried to create a family for a patient (by going to the patient's profile and then to the "Family" tab), I got this error: `AttributeError: 'medical.patient' object has no attribute 'onchange_state'` Is that what you meant?

[2017-04-30 20:59] MatthewVita opened #172 "Wikipedia page"
Dear Maintainers,

My name is Matthew Vita, a programmer in the healthcare industry. I am trying to help build up the high impact "List of open-source health software" Wikipedia page (https://en.wikipedia.org/wiki/List_of_open-source_health_software) and would love to add your software to the list. However, it appears that your project does not have a page on Wikipedia so I ask you to consider the

[2017-04-30 22:13] elicoidal commented on #172
@lasley

[2017-05-01 16:13] lasley commented on #172
An excellent idea @MatthewVita - I'll write something up soon and update this issue.

[2017-05-02 02:32] MatthewVita commented on #172
Dear Maintainers,

I just wanted to follow up with a few words in regards to Conflict of Interest (COI). As you can imagine, I have been reaching out to all kinds of mature, reputable, and active open source healthcare projects to help build up this Wikipedia list. However, some project members have (rightly) reached out to me with concerns about COI, so I wanted to clear this up as best as I can.

[2017-05-17 03:41] lasley commented on #172
Thanks for the note @MatthewVita & sorry I missed this message. I'm almost positive I fall under the COI clause, because my company is heavily entwined in Vertical Medical.

I think we may actually have some issues on this one though - most anyone that I would reach out to in the community is a member of our community, and has paid yearly membership dues to cover operations costs of the entity.

@

[2017-05-17 07:21] elicoidal commented on #172
@lasley Would one of your end users be able to help us on that topic?

[2017-05-17 08:19] dreispt commented on #172
@lasley You could expand the project README with additional information.
This would allow for an independent person to use that information for the article.
It might also be helpful as citation source, although Wikipedia also has a policy to not use "primary sources". That means that citations should come from secondary sources, such as public reports, analysts, etc.

[2017-06-08 09:12] rgarnau opened #177 "[10.0] [medical] Error when access to patient"
When a user accesses to a patient, he is getting an error:
`Uncaught Error: NameError: name 'supplier' is not defined`

![image](https://user-images.githubusercontent.com/28435599/26921098-49c98650-4c3b-11e7-8ac8-d587742337a6.png)

[2017-06-08 17:09] #177 closed, assigned to nobody

[2017-08-03 15:38] lasley opened #183 "Licensing Dispute - Original Copyright Claim"
A recent [Twitter conversation](https://twitter.com/nicoe/status/892804307359281153) has alluded to the fact that Tech Receptives may not have been on the up & up when claiming copyright and licensing rights for Vertical Medical.

No original work has been provided yet, but it has been requested. Action to be taken is unknown at this time.

[2017-08-03 15:45] pedrobaeza commented on #183
And again these kind of things come from the same people... I think you don't need to lose time with this.

GNU Health was later relicensed to GPL when forked from original oemedical. If you see first branch 7.0, license was AGPL-3, as Odoo only allows that license. The switch from AGPL > LGPL was already discussed, so nothing more to deal with.

[2017-08-03 16:20] lasley commented on #183
Pedro - the issue is that Thymbra never approved this & their attribution has been removed. Furthermore, the license to LGPL would not be valid because as I understand it something GPL-3 cannot become LGPL-3 without the author's permission.

I believe there will be two action items here:
* Fix attribution
* License needs to be GPL-3

[2017-08-03 16:21] pedrobaeza commented on #183
@nhomar work on a total remake on this, so I think the attribution doesn't correspond either.

[2017-08-03 17:09] lasley commented on #183
Hmmm yeah looking at this git history, I see very little that is leftover from the olden days and still in use. I think we can just GPL and be done with it.

Will submit PR sometime today

[2017-08-03 17:14] pedrobaeza commented on #183
Well, if you prefer LGPL, I don't see why we should change it.

[2017-08-03 17:15] lasley commented on #183
My preference or not, the code is still derived from the GPL code which would make for the need for compatible licensing?

[2017-08-03 17:19] lasley commented on #183
Although I can say pretty confidently that my team has basically rewritten this entire repo as well.

[2017-08-03 17:21] pedrobaeza commented on #183
That's why i insist: there has been already 2 complete rewritting code activities (one by Vauxoo and another by you), so if you prefer this license, don't take into account trolls' comments.

[2017-08-03 17:26] lasley commented on #183
Good point, Pedro. I'm going to still field the discussion with Thymbra to see what they were thinking. In terms of official communication, all I've gotten from them at this point is the name calling in the Twitter post.

Will leave this open with no action item & report back when I've had a dialog with Thymbra.

[2017-08-03 17:27] pedrobaeza commented on #183
OK, but again, the tweet was not originated by any of Thymbra guys...

[2017-08-03 17:28] lasley commented on #183
This is the author of GNUHealth, which I believe is where the claim is originating from?

![image](https://user-images.githubusercontent.com/7397578/28934609-71a1cc7e-7836-11e7-9d3e-15ea81d29462.png)

[2017-08-03 17:29] lasley commented on #183
It's also what I was referring to when I said name calling - in reference to "thieves"

[2017-08-03 17:34] pedrobaeza commented on #183
I'm keeping the desire of answering that offending tweet that was generated without having more facts, but I'm going to resist, as I can't assure all the facts either, as I'm not an actor that has been involved in this repo, apart from helping you in reviewing/organizing, but one fact is clear: the original code was pure garbage, so they can keep their license on that shitty code for sure.

[2017-08-03 17:38] lasley commented on #183
Yeah I was of a similar mindset and chose to restrain and keep it professional. Kind of a new one for me honestly - it felt weird 😆

Agreed it was incredibly bad. Honestly looking at the GNUHealth stuff, I don't even really see how this was derived or even written by the same person - the structure there is much better & is closer to what we've been moving towards.

[2017-08-04 00:40] TheCloneMaster commented on #183
The really original repo, that was (is?) on Launchpad, was kind of
functional.
When it was moved to Github, at some point Tech Receptives changed the
modular structure and created an enormous monolithic structure, with all
files in one module, and most of the code logic lost (as well as original
authorship...).

I worked on separating the modules again, and fixing a couple things here
and there, a

[2017-08-04 15:42] lasley commented on #183
Mario - they have not explicitly stated what their issue is here, but I believe it is the relicense to LGPL in v10. We would obviously want to provide credit where it is due in the old versions too, assuming attribution was in fact stripped.

Jordi did some digging for us in terms of the history, pasting below:

----
I can see that the original work from Thymbra is here:
https://sourceforge.net/pr

[2017-08-05 18:09] lasley commented on #183
#187 & #188 submitted to remove legacy modules from new branches & update the main project description.

In my capacity as PSC lead for Vertical Medical, I have decided that the safest option for v7 and v8 is to delete them. In this light, I have removed those branches from OCA & have requested that Odoo SA remove them from the Apps store.

The situation is not fully resolved at this time, as a co

[2017-09-10 08:01] nhomar commented on #183
@lasley

This is not a derivative work.

This was completly re-done, that's why the Copyright was removed, almost nothing is like Medical, there is not any copyright infringement.

IF there is any copyright fail that you find is because we never deleted the commit history, then if we must say that somebody did something "THAT NEVER MAINTAIN" just because we tried to use their work then we have a p

[2017-09-10 08:12] nhomar commented on #183
Hello @TheCloneMaster

You have a point:

[code]

This is the main point, Thymbra does not do anything in favor of anybody else than theirselve, even when they were in Openerp Ecosystem they try to fuck everybody else closing code derivative of what they claim was public.

I fight A LOT against those make those kind of attitude, they only want Free marketing that's it.

Any of the work (neither mi

[2017-09-10 08:15] nhomar commented on #183
@lasley

[code]

I see the tweet, then do anything for health systems in Odoo will be "Plagiarism", when they patent the "Fact of use Odoo for Hospitals"?

THat's simply STUPID.

[2017-09-10 08:19] nhomar commented on #183
@lasley

[code]

Men, Nobody need approval to re-do something "RE-DO".

I mean, if you want to put a "Thanks to the inspiration of Saint Thymbra" to allow them feel well that's ok (and I think it was for some time in the README BTW).

But you and OCA is the one working on that now with a totally, new code.

[2017-09-11 14:29] lasley commented on #183
@nhomar - I totally get where you're coming from. I also agree that the overarching claims are invalid, and this is likely why they never brought the grandstanding this way.

The thing is though - a lot of this code was basically a 1:1 copy of their code when we picked up the repo. My team rewrote a lot, but there are still some sections that we did not come up with and simply redesigned based on

[2017-10-03 15:05] pedrobaeza opened #198 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] medical - By @rgarnau - #200
- [ ] medical_agpl
- [ ] medical_center - By @rgarnau - #201
- [ ] medical_disease
- [ ] medical_insurance - By @rgarnau - #205
- [ ] medical_insurance_us
- [ ] medical_medicament
- [ ] medical_medicament_attributes
- [ ] medical_medication
- [ ] medical_medicati

[2017-11-15 11:23] JordiBForgeFlow commented on #183
We have decided to continue the vertical-medical project in 11.0, and we found that we have refactored all the code to make it more compliant with FHIR and LGPL, so there's no real need to migrate anything from prior versions, including the conflicting modules, `medical`, `medical_insurance`.

We propose to start in 11.0 with the following modules that will be 100% refactored - so no need to keep

[2017-11-15 11:36] sisalp commented on #183
2017-11-15 12:23 GMT+01:00 Jordi Ballester Alomar <notifications@github.com>:

Seems safe enough for users. Nevertheless, I wouldn't say
"refactoring" since I'm not sure that refactored code could  not be
considered as derivated work.
I 'd rather say "new development to replace old code" to be sure.

[2017-11-15 11:50] JordiBForgeFlow commented on #183
After some more thought about it we are considering to structure the project according to FHIR:

`medical_base`: Adds menu, config settings and abstract classes applicable to all FHIR. Potentially from config settings you be capable to install other fhir modules (no need to go to Apps).
`medical_administration`: Adds abstract classes applicable to all Administration modules
`medical_administration

[2017-11-17 18:31] JordiBForgeFlow commented on #198
@lasley We have been brainstorming on how to best implement FHIR and decided that it's best for us to jump to 11.0 directly, and do some refactoring. We have decided that it's best for our team to work on an 11-dev branch https://github.com/Eficent/vertical-medical/tree/11.0-dev for now, until we can see that the concept is good. Then we'll start sending PR's to OCA.

[2017-11-20 19:16] lasley commented on #198
Sounds like a good plan @jbeficent, thanks for dropping a line.

We're still tidying up some things for v10, then will begin trying to figure out some sort of upgrade strategy.

[2017-12-09 06:47] dek-odoo opened #208 "No repository/runbot for v8.0 ?"
Seems like I am missing something.

Edited: I saw repo at [Laslabs](https://github.com/LasLabs/vertical-medical/), but it is not available on this repo.
Thanks

[2017-12-09 18:32] lasley commented on #208
v8 code is suspect licensing. Please see https://github.com/OCA/vertical-medical/issues/183#issuecomment-320460831

[2017-12-09 18:32] #208 closed, assigned to nobody

[2017-12-09 18:34] lasley commented on #208
There's also a note in the [most recent newsletter](https://odoo-community.org/blog/our-blog-1/post/oca-fall-newsletter-2017-3-72) for anyone using this code.

[2017-12-21 09:30] rgarnau opened #210 "11.0-dev ready to review!"
We have been implementing the new Odoo Medical v11 strictly following the FHIR standard and we think it is ready for the first review! Therefore, we have push the whole project into a new branch 11.0-dev in the OCA/vertical-medical repo (https://github.com/OCA/vertical-medical/tree/11.0-dev) so you can test the overall workflow!

As explained, the project follows the FHIR structure which divides t

[2018-01-02 22:47] lasley commented on #210
@rgarnau I'll take a look this week.

I think we have an issue though - Transifex commits are coming through on the [11.0 branch](https://github.com/OCA/vertical-medical/tree/11.0/medical_administration/i18n). Please take a look.

[2018-01-08 10:10] JordiBForgeFlow opened #215 "11-dev Transifex translation being posted to branch 11.0"
We have identified that Transifex performs translations for branch 11-dev, and puts the result in branch 11.0. Not sure how to address this. It seems that this is not happening in https://github.com/OCA/mis-builder/tree/11.0-dev, and we're following the same approach. cc @sbidoul @gurneyalex @pedrobaeza

[2018-01-08 10:14] pedrobaeza commented on #215
All branches in main repository are moved to Transifex, but that's not something that can be easily avoided. You shouldn't have additional branches in the main repository.

[2018-01-08 10:17] sbidoul commented on #215
Maybe you could disable the transifex step in travis.yml for that branch.

[2018-01-08 10:20] JordiBForgeFlow commented on #215
W'll disable Transifex in this branch for now.

On Mon, Jan 8, 2018 at 11:17 AM, Stéphane Bidoul (ACSONE) <
notifications@github.com> wrote:

--
Jordi Ballester Alomar
CEO & Founder | Eficent
(+34) 629530707 | jordi.ballester@eficent.com | http://www.eficent.com
Twitter: https://twitter.com/jbeficent_erp | Linkedin:
https://www.linkedin.com/in/jordiballesteralomar

[2018-01-08 10:28] pedrobaeza commented on #215
Uhm, that's right. I didn't realize about that...

[2018-01-10 08:10] rgarnau commented on #210
@lasley we have disabled Transifex for now and the 11.0 branch is clean again.

[2018-01-25 08:50] rgarnau commented on #210
11.0-dev branch has been removed, so this issue is no longer valid.

[2018-01-25 08:50] #210 closed, assigned to lasley

[2018-02-06 17:45] lasley commented on #183
Final action has been taken and a post-incident blog post written https://odoo-community.org/blog/our-blog-1/post/vertical-medical-75

Closing as resolved.

[2018-02-06 17:45] #183 closed, assigned to lasley

[2018-03-15 12:09] andhit-r opened #225 "Backport v10 branch"
Is it ok to backport v10 branch to older version? Will it cause another DMCA takedown?

Many thanks

[2018-08-10 10:55] IJOL opened #226 "8.0 was deleted, I badly need that branch"

[2018-08-10 11:02] pedrobaeza commented on #226
It was removed due to a license infringement claim, so you can consider in danger using it, but if you still want to use it, copy it from other place you have.

[2018-08-10 11:02] #226 closed, assigned to nobody

[2018-08-13 11:59] IJOL commented on #226
OK, thank for the quick response, yep we will need to recover where is working now, not sure if used at all, but needed in the deploy procedure,

Saludos,
Ignacio J. Ortega

[2019-04-24 08:33] susankc opened #227 "All module are not imported in odoo10"
As now this module is version 10 and i have install all the module but all the requirement is not captured and version 8 is also not available, are you guys are working on update or any update ? let us know  we really need all complete system so can anybody can help ?

[2019-04-25 12:34] susankc commented on #227
Anybody to reply anything about this ? @pedrobaeza anybody ?

[2019-04-25 12:41] etobella commented on #227
vertical-medical had some issues due a licensing dispute #183.
As far as I know, nobody is maintaining it.

[2020-12-30 02:44] helenlisak opened #228 "installation error"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/tested/odoo/tools/convert.py", line 677, in _tag_root
    f(rec)
  File "/opt/tested/odoo/tools/convert.py", line 580, in _tag_record
    record = model._load_records([data], self.mode == 'update')
  File "/opt/tested/odoo/models.py", line 4186, in _load_records
    records = self._load_records_create([data['values'] for dat

[2020-12-30 02:47] helenlisak commented on #228
sorry, I couldn't even install that module, its installation is what is causing all the errors, what do I do?

[2020-12-30 08:41] etobella commented on #228
Which version are you using?

[2021-01-28 17:49] marcelsavegnago opened #229 "Was this project abandoned?"
I have a demand related to this project and it seems that the project has been abandoned. I saw that the legal issues were resolved but I would like to know if there is any kind of restriction that is preventing the evolution of this project or is it just a lack of manpower?

Is it possible to create branches 11.0, 12.0 and 13.0?

cc @OCA/vertical-medical-maintainers

[2021-01-28 20:07] etobella commented on #229
Hi @marcelsavegnago The main problem of this project was related to the issue related to the License. As this was a problem, we developed it from scratch in another repo, and we didn't propose anything as there was no one interested. If you think this might be interesting, we can propose something here. Our new repo is
https://github.com/tegin/medical-fhir
It is similar in some sense, but based on

[2021-01-29 01:40] marcelsavegnago commented on #229
Hi @etobella.

I took a look at your repository and also saw the repository where you have the integration modules with sales, mgmtsystem and others.

Very good. 👏

I like the idea of proposing something here. I still have no real case for using these modules but I can help in some way.

[2021-01-29 03:16] rvalyi commented on #229
wow there is an XSD schema for HL7 FHIR https://www.hl7.org/fhir/xml.html#schema
I'm pretty sure my Odoo generator can generate Odoo mixins for all the XSD types...
https://github.com/akretion/generateds-odoo
and there is more coming... Ping me if you are interested in getting this automated and 100% compliant...

[2021-01-29 07:24] etobella commented on #229
@marcelsavegnago As soon as you have a project or real case we can start to merge here. We are currently working with this implementation on our clinic and medical centers and works perfectly :smile: We prefer to wait until someone else starts because once we share it inside the OCA it might be harder to add new features if there is no more people involved.

@rvalyi great tool!!! Sad to see that w

[2021-01-29 14:59] marcelsavegnago commented on #229
@etobella I agree. For the time being we are prospecting a possible customer and I hope the prospect will become a customer soon. In the meantime, we are testing the modules that are in your repository. Thanks for the help and for sharing.

[2021-01-29 15:20] etobella commented on #229
Ok!!! If you need some demo from a real environment ping me:smile:

[2021-01-29 15:32] marcelsavegnago commented on #229
Ok.. thanks 👍  👍 🍻

[2021-05-23 12:30] vantinhuynh opened #230 "Medical error when install on Odoo 14.0"
Hi team,

I got an issue when I install Medical module on Odoo 14.0
The error is:

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/Users/tinhuynh/Work/private_repo/odoo/odoo/tools/convert.py", line 677, in _tag_root
    f(rec)
  File "/Users/tinhuynh/Work/private_repo/odoo/odoo/tools/convert.py", line 580, in _tag_record
    record = model._load_records([data], self.mode ==

[2021-05-23 12:39] pedrobaeza commented on #230
These modules are not migrated since long and they are in fact not maintained anymore, due to a DMCA complaint (which I don't agree, but for not having to fight against it).

[2021-05-23 12:39] #230 closed, assigned to nobody

[2022-10-03 17:04] OCA-git-bot opened #232 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2022-11-06 17:18] #153 closed, assigned to nobody